<div ng-controller="dashboardController">

	<div class="sidebar col-sm-3">
		<input type="text" class="search" name="searchbar" placeholder="search">
	</div>

	<div class="main-content col-sm-9">
		<div class="catalog">
			<div class="item">
				<img src="./images/mcfly.jpg" alt="shoes">
				<p>Nike Shoes</p>
				<p>(20 left)</p>
			</div>
			<div class="item">
				<img src="./images/kindle.png" alt="kindle">
				<p>Amazon Kindle</p>
				<p>(40 left)</p>
			</div>
			<div class="item">
				<img src="./images/strat.jpg" alt="strat">
				<p>Fender Stratocaster</p>
				<p>(7 left)</p>
			</div>
			<div class="item">
				<img src="./images/black_belt.jpg" alt="black belt">
				<p>Black Belt</p>
				<p>(65 left)</p>
			</div>
			<div class="item">
				<img src="./images/ps4.jpg" alt="playstation 4">
				<p>Playstation 4</p>
				<p>(250 left)</p>
			</div>
			<a href="" class="load_prompt">show more...</a>					
		</div>

		<div class="recent">
			<p class="section_title">Recent Orders</p>
			<ul>
				<li>Michael purchased 2 Nike Shoes... (3 hours ago)</li>
				<li>John purchased 3 Black Belts... (5 hours ago)</li>
				<li>Trey purchased 5 Stratocasters... (2 days ago)</li>
			</ul>
			<a href="" class="load_prompt">show all orders...</a>
		</div>

		<div class="new_customers">
			<p class="section_title">New Customers</p>
			<ul>
				<li>Trey Villafane joined the store (5 days ago)</li>
				<li>Michael Choi joined the store (2 weeks ago)</li>
				<li>Trey purchased 5 Stratocasters... (2 days ago)</li>
			</ul>
			<a href="" class="load_prompt">show all customers</a>
		</div>
	</div>

</div>